{% extends 'main/base.html' %}
{% load static %}

{% block title %}Регистрация{% endblock title %}

{% block content %}
    <div class="loginform">
        <h2>Регистрация</h2>
        <form method="post" class="loginform">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="error">{{ form.non_field_errors }}</div>
            {% endif %}
            <p class="form-tag">
                {{ form.phone_number.label_tag }} {{ form.phone_number }}
                {% if form.phone_number.errors %}
                    <div class="error">{{ form.phone_number.errors }}</div>
                {% endif %}
            </p>
            <p class="form-tag">
                {{ form.password1.label_tag }} {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="error">{{ form.password1.errors }}</div>
                {% endif %}
            </p>
            <p class="form-tag">
                {{ form.password2.label_tag }} {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="error">{{ form.password2.errors }}</div>
                {% endif %}
            </p>
            <button type="submit" class="regisbtn">Зарегистрироваться</button>
        </form>
        <p>Уже есть аккаунт? <a href="{% url 'users:login' %}">Войти</a></p>
    </div>
{% endblock content %}